@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}
