@import "leaflet/dist/leaflet.css";

* { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}
